.DS_Store
.ipynb_checkpoints

/lish-moa

train_feats.csv



logistics/*.parquet
logistics/*.model
naive-bayes/*.paquet
naive-bayes/*.model
decision-tree/*.parquet
decision-tree/*.model
logistics-baseline/*.parquet
logistics-baseline/*.model
